.vagrant/
android-studio-ide-143.2915827-linux.zip
android_core-indigo.zip
ros_android/android-studio/
ros_android/android_core-indigo/
ros_web/roslib.js
ros_web/roslib.min.js
ros_web/eventemitter2.min.js

